<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by:{{listFilter}}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="productsFireBase && productsFireBase.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Ratinh</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productsFireBase">
                        <td>
                            <img *ngIf='showImage' [src]='product.payload.doc.data().imageUrl' [title]='product.payload.doc.data().title'
                                [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                        </td>
                        <td>
                            <a [routerLink]="['/products', product.productId]">
                                {{product.payload.doc.data().productName }}
                            </a>
                        </td>
                        <td>{{product.payload.doc.data().productCode | lowercase | convertToSpaces:'-'}}</td>
                        <td>{{product.payload.doc.data().releaseDate}}</td>
                        <td>{{product.payload.doc.data().price| currency:"PLN":symbol:"2.2-2"}}</td>
                        <td>
                            <pm-star [rating]="product.payload.doc.data().starRating" [productName]="product.payload.doc.data().productName"
                                (ratingClicked)="onRatingClicked($event)"></pm-star>
                        </td>
                        <td [hidden]="product.payload.doc.data().completed" (click)="deleteProduct(product)">
                            <button mat-raised-button class="delete-button" color="warn" type="button">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>